/* BELOW 1344px (84em * 16) */

@media (max-width: 84em) {
  .about-me-container {
    gap: 4.8rem;
  }

  .me-image {
    width: 44rem;
    height: 41rem;
  }
}

/* BELOW 944px (59em * 16) */

@media (max-width: 59em) {
  .nav {
    background-color: rgba(0, 145, 255, 0.95);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .nav ul li a {
    font-weight: 600;
    font-size: 3.2rem;
  }

  ul li a:hover {
    color: #fff;
  }

  .btn-mobile-nav {
    display: block;
  }

  .hero-text-box {
    position: absolute;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-me-link {
    display: block;
    margin: 0 auto;
  }

  .first-hero-text {
    font-size: 3.2rem;
  }

  .name-text {
    font-size: 4rem;
  }

  .second-hero-text {
    font-size: 2.4rem;
  }

  .about-me-container {
    flex-direction: column;
    margin-top: 6.4rem;
  }

  .about-me-image {
    width: 80%;
  }

  .me-image {
    width: 42rem;
    height: 39rem;
  }

  .about-me-text {
    width: 80%;
  }
}

/* BELOW 560px (35em * 16) */

@media (max-width: 35em) {
  .nav ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  ul li a:hover {
    color: #fff;
  }

  .first-hero-text {
    font-size: 2.8rem;
  }

  .name-text {
    font-size: 3.6rem;
  }

  .second-hero-text {
    font-size: 2rem;
  }

  .me-image {
    width: 27rem;
    height: 27rem;
  }
}

/* BELOW 418px (26.2em * 16) */

@media (max-width: 26.2em) {
  .header-text {
    font-size: 2.6rem;
  }

  .hero-text-box {
    width: 100%;
  }

  .first-hero-text {
    font-size: 2.4rem;
  }

  .name-text {
    font-size: 3.2rem;
  }

  .second-hero-text {
    font-size: 1.8rem;
  }
}
