* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #fff;
}

/****************************/
/***** FIRST SECTION ********/
/****************************/

.first-section {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(imgs/banner.jpg);
  background-position: center;
  background-size: cover;
}

.first-section-container {
  max-width: 90%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.2rem;
}

.header-text {
  font-size: 3.2rem;
  font-weight: bold;
}
.header-text span {
  color: rgb(0, 145, 255);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 3;
}

.icon-mobile-nav {
  height: 3.8rem;
  width: 3.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s;
}
ul li a:hover {
  color: rgb(0, 145, 255);
}

.hero-text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.first-hero-text {
  font-size: 4.8rem;
}

.name-text {
  font-size: 6.4rem;
  font-weight: bold;
}

.second-hero-text {
  font-size: 3.2rem;
}
.second-hero-text span {
  color: rgb(0, 145, 255);
  font-weight: bold;
}

.about-me-link {
  padding: 1.2rem 3rem;
  background-color: rgb(0, 145, 255);
  max-width: 18rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 2.2rem;
  text-transform: uppercase;
  transition: all 0.3s;
}
.about-me-link:hover {
  background-color: rgb(0, 77, 136);
}

/*****************************/
/***** SECOND SECTION ********/
/*****************************/

.second-section {
  max-width: 100%;
  background-color: rgb(207, 207, 207);
}

.second-section-container {
  padding: 4.8rem 0 6.4rem 0;
  max-width: 90%;
  margin: 0 auto;
}

h2 {
  color: rgb(0, 145, 255);
  font-size: 3.5rem;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}

.about-me-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.about-me-text p {
  color: black;
  font-size: 1.9rem;
  line-height: 1.9;
}

.about-me-text p span {
  color: rgb(0, 145, 255);
  font-weight: 600;
  font-size: 2rem;
}

.helper {
  text-transform: none;
  font-size: 1.8rem;
  max-width: 20rem;
}

.about-me-image {
  width: 50%;
  text-align: center;
}

.me-image {
  width: 40rem;
  height: 43rem;
}

/****************************/
/***** THIRD SECTION ********/
/****************************/

.third-section {
  max-width: 100%;
  background-color: rgb(40, 40, 40);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.third-section-container {
  max-width: 90%;
  margin: 0 auto;
}

.cards {
  margin: 8.2rem auto 0 auto;
  display: flex;
  gap: 5.4rem;
  justify-content: center;
}

.cards div img {
  height: 10rem;
  height: 10rem;
}

.css-img {
  height: 12rem !important;
  height: 12rem !important;
}

.cards div {
  width: 30rem;
  border: 3px solid rgb(0, 145, 255);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 4rem;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0.08rem 0.08rem 1.5rem 0.1rem #888888;
}

.cards div:hover {
  transform: scale(1.03);
  box-shadow: 0.11rem 0.11rem 1.7rem 0.2rem #888888;
}

h3 {
  font-size: 2.6rem;
}

.cards div p {
  font-size: 1.6rem;
  color: rgb(163, 163, 163);
}

.javascript-h3 {
  color: rgb(203, 203, 0);
}
.bootstrap-h3 {
  color: #673ab7;
}
.html-h3 {
  color: #e74c3c;
}
.css-h3 {
  color: #0277bd;
}
